{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>


		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="index, follow, max-image-preview-large, max-snippet:-1, max-video-preview:1">
		<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
		<meta charset="utf-8"/>
		<meta property="og:site_name" content="Educ'Pet">
		<meta property="og:url" content="https://educpet.fr/">
		<meta property="og:type" content="website">
		<meta property="og:image" content="/static/educpet_app/images/chiens/logo.png">
		<meta property="og:title" content="Education canine | Dresseur cannin | Dresseur pour chiens | EDUC'PET">
		
		<link rel="canonical" href="https://educpet.fr/"/>
		
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
		
		<title>Educ'Pet - Educatrice canine avec méthodes positives</title>
		<meta name="description" content="Education canine avec méthodes positives. Avec Educ’Pet, vous êtes certains d’avoir un apprentissage positif, sans méthode coercitive (collier électrique, collier étrangleur, coups, menaces, etc) pour le chien.">
		<!-- Bootstrap core CSS -->
		<link href="{% static 'educpet_app/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Additional CSS Files -->
		<link rel="stylesheet" href="{% static 'educpet_app/css/template/fontawesome.css' %}">
		<link rel="stylesheet" href="{% static 'educpet_app/css/template/templatemo-eduwell-style.css' %}">
		<link rel="stylesheet" href="{% static 'educpet_app/css/template/owl.css' %}">
		<link rel="stylesheet" href="{% static 'educpet_app/css/template/lightbox.css' %}">

		<link rel="icon" href="{% static 'educpet_app/images/chiens/logo_white.png' %}" />

		{% block link %}
		{% endblock %}

	</head>

<body>

	<!-- ***** Header Area Start ***** -->
	<header class="header-area header-sticky">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
							<!-- ***** Logo Start ***** -->
							<a href="index.html" class="logo" style="width:200px" >
								<img src="{% static 'educpet_app/images/chiens/lolo_ecrit.png' %}" alt="Edu'Pet Logo">
							</a>
							<!-- ***** Logo End ***** -->
							<!-- ***** Menu Start ***** -->
							<ul class="nav">
									<li><a href="#top" class="active">Accueil</a></li>
									<li><a href="#presentation">Présentation</a></li>
									<li class="has-sub">
										<a href="javascript:void(0)">Services</a>
										<ul class="sub-menu">
												<li><a href="#courses">1er RDV</a></li>
												<li><a href="#courses">Séances</a></li>
												<li><a href="#courses">Balades</a></li>
												<li><a href="#courses">Conseils</a></li>
										</ul>
									</li>
									<li><a href="#get-info">Qui sommes-nous ?</a></li> 
									<li><a href="#testimonials">Exemples</a></li> 
									<li><a href="#contact-section">Prise de contact</a></li> 
							</ul>        
							<a class='menu-trigger'>
								<span>Menu</span>
							</a>
							<!-- ***** Menu End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->

	<!-- ***** Main Banner Area Start ***** -->
	<section class="main-banner" id="top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 align-self-center">
					<div class="header-text">
						<h2>Educatrice canine avec <em>méthodes positives</em></h2>
						<div class="main-button-gradient">
							<a href="#contact">Me contacter !</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6" style="z-index:3">
					<div class="right-image">
						<img src="{% static 'educpet_app/images/chiens/logo.png' %}" alt="Educ'Pet Logo - Sans ecriture">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Main Banner Area End ***** -->
	<section class="our-office" id="presentation">
		<div class="container">
			<div class="row">				
				<div class="col-lg-8" style="z-index:3">
					<div id="video">
						<div class="thumb">
							<video controls class="video-demo" autoplay loop muted>

								<source src="{% static 'educpet_app/images/chiens/prez.mp4'%}"
										type="video/mp4">
								<p>Votre navigateur ne prend pas en charge les vidéos HTML5.
									Voici <a href="{% static 'educpet_app/images/chiens/prez.mp4'%}">un lien pour télécharger la vidéo</a>.</p>
							</video>

						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="left-info">
						<div class="section-heading">
							<h4>L'éducation <em>canine</em></h4>
						</div>
						<p class="text-justify">
							L’éducation canine est l’activité qui consiste à apprendre ou réapprendre les règles de conduite à un chien dans la vie quotidienne.
							<br><br>Avec Educ’Pet, vous êtes certains d’avoir un apprentissage positif, sans méthode coercitive (collier électrique, collier étrangleur, coups, menaces, etc) pour le chien.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="our-courses mt-4" id="courses">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="section-heading">
						<h4>Mes <em>services</em></h4>
						<p>Les differents services que nous pouvons proposer à vous et à votre meilleur ami à poil</p>
					</div>
				</div>
				<div class="col-lg-12" style="z-index: 3;">
					<div class="naccs">
						<div class="tabs">
							<div class="row">
								<div class="col-lg-3">
									<div class="menu">
										<div class="active gradient-border"><span>1er Rendez-vous</span></div>
										<div class="gradient-border"><span>Séances de travail</span></div>
										<div class="gradient-border"><span>Balades éducatives</span></div>
										<div class="gradient-border"><span>Conseils</span></div>
									</div>
								</div>
								<div class="col-lg-9">
									<ul class="nacc">
										<li id="1er-rdv" class="active">
											<div>
												<div class="left-image">
													<img src="{% static 'educpet_app/images/chiens/1er_rdv.png' %}" alt="1er rendez-vous - Image">
													<div class="price"><h6>35€</h6></div>
												</div>
												<div class="right-content">
													<h4>1er Rendez-vous</h4>
													<p class="text-justify">
														Le premier rdv se passe chez le client, il dure 1h et est au prix de 35€. 
														<br><br>Pendant 30min nous discuterons des soucis rencontrés avec le chien, des méthodes misent en œuvres et voir pourquoi elles ont échoué. 
														<br><br>Pendant les 20min restantes, nous feront une promenade pour que je puisse voir l’état mental du chien en dehors de chez lui ainsi que les réactions de son maître.
													</p>
													<span>30min Discussion</span>
													<span>20min Promenade</span>
													<span class="last-span">35€</span>
													<div class="text-button">
														<a href="#contact-section">S'inscrire</a>
													</div>
												</div>
											</div>
										</li>
										<li id="seance">
											<div>
												<div class="left-image">
													<img src="{% static 'educpet_app/images/chiens/seances.png' %}" alt="Séances de travail - Image">
													<div class="price"><h6>45€</h6></div>
												</div>
												<div class="right-content">
													<h4>Séance de travail</h4>
													<p class="text-justify">Les séances de travail se déroulent soit chez le client, soit dans des lieux précis (parcs, forêt, ville, etc) selon les soucis rencontrés. Chaque séance dure 1h et est au prix de 45€/séance. 
														<br><br>Pendant cette heure nous travaillerons avec le maître et le chien, la plupart du temps en extérieur (marche en laisse, marche au pied, réactivité humains ou congénères, rappel, croisements chiens, etc). 
														<br><br>Entre chaque séance vous aurez des exercices à faire afin que l’apprentissage se fasse plus rapidement
													</p>
													<span>Travail Maître & Chien</span>
													<span>Exercices</span>
													<span class="last-span">45€/séance</span>
													<div class="text-button">
														<a href="#contact-section">S'inscrire</a>
													</div>
												</div>
											</div>
										</li>
										<li id="balades">
											<div>
												<div class="left-image">
													<img src="{% static 'educpet_app/images/chiens/balades.png' %}" alt="Balades éducatives - Image">
													<div class="price"><h6>20€</h6></div>
												</div>
												<div class="right-content">
													<h4>Balades éducatives</h4>
													<p class="text-justify">Les balades canines se font le samedi matin entre 11h et 13h (dans les champs ou en forêt). 
														<br><br>Elles sont à 20€/balade et le nombre de chien est de minimum 2 et de maximum 4. 
														<br><br>Il s’agit de balade d’éducation (rappel avec stimuli, réactivité congénères, chiens peureux, chiens harceleurs, etc)</p>
													<span>Samedi 11h-13h</span>
													<span>2-4 Chiens</span>
													<span class="last-span">20€/balade</span>
													<div class="text-button">
														<a href="#contact-section">S'inscrire</a>
													</div>
												</div>
											</div>
										</li>
										<li id="conseils">
											<div>
												<div class="left-image">
													<img src="{% static 'educpet_app/images/chiens/conseils.png' %}" alt="Conseils - Image">
													<div class="price"><h6>250€</h6></div>
												</div>
												<div class="right-content">
													<h4>Conseils</h4>
													<p class="text-justify">
														Les conseils sont à 250€. Nous verrons votre lieu d’habitation et comment bien l’adapter à l’arrivée d’un chiot, le chien idéal selon votre mode de vie (nombre de balade, temps de balade, etc) et vos préférences de race (un chien sportif, un chien de chasse, un chien calme, etc). 
														<br><br>Il s’agira aussi d’apprendre les bases telles que la propreté, la bonne socialisation (ville, humains, chiens, autres animaux, etc)</p>
													<span>Préparation </span>
													<span>Propreté & Sociabilisation</span>
													<span class="last-span">250€</span>
													<div class="text-button">
														<a href="#contact-section">S'inscrire</a>
													</div>
												</div>
											</div>
											</li>
										</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="get-info" id="get-info">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
				<div class="left-image">
					<img class="img-rounded" src="{% static 'educpet_app/images/chiens/laura_prez.jpg' %}" alt="Laura & Freya - Image">
				</div>
				</div>
				<div class="col-lg-6 align-self-center">
				<div class="section-heading pt-0 mb-2">
					<h4 class="mt-0">Qui <em>sommes-nous</em> ?</h4>						
					<p class="mt-2 text-justify">Je m’appelle Laura, j’ai 24 ans et je me suis lancée il y a quelques mois pour être éducatrice canine à mon propre compte. J’ai toujours été passionnée par les chiens, j’en ai eu deux (un labrador croisé setter irlandais et une malinoise) et me suis occupée de leur éducation de A à Z.
									<br><br>Il me tenait à cœur d’avoir un travail où il m’était possible d’emmener Freya, ma malinoise ! Elle m’est très utile pour les chiens peureux, les chiens réactifs, travailler les croisements chiens ainsi que le rappel avec stimuli.
									<br><br>Le bien-être du chien ainsi que celui du maître sont une priorité pour moi, c’est pour cela que je suis contre les méthodes coercitives où le chien subit des douleurs et où la confiance entre le chien et son maître est totalement brisée.
								</p>							
				</div>
				</div>
			</div>
		</div>
	</section>

	<section class="testimonials" id="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-heading">
						<h4>Exemples de <em>prestations</em></h4>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
						<div class="item">
							<p class="text-justify">
								Kiarra fait de l'anxiété de séparation, de ce fait il lui arrive de faire ses besoins dans la maison lorsqu'elle est seule (alors qu'elle connait la propreté) et de mâchouiller (voire avaler) des objets de la maison (dont des jouets d'enfants). Nous travaillons sur ses besoins de bases ainsi que son anxieté.</p>
							</p>
							<h4>KIARRA</h4>
							<span>Staff X - 1 ans 1/2</span>
							<img src="{% static 'educpet_app/images/chiens/KIARRA.png' %}" alt="Kiarra - Image">
						</div>
						<div class="item">
							<p class="text-justify">Les maîtres d'Oreo m'ont contacté car leur chien est réactif : il aboie sur chaque chien qu'il croise et peut se montrer agressif selon le chien en face de lui. Oreo a été attaqué deux fois par des chiens et en garde un très mauvais souvenir. On travaille les croissements chiens mâles après s'être aperçu qu'il n'y avait aucun soucis avec les femelles.</p>
							</p>
							<h4>OREO</h4>
							<span>Berger Australien - 4 ans</span>
							<img src="{% static 'educpet_app/images/chiens/OREO.png' %}" alt="Oreo - Image">
						</div>
						<div class="item">
							<p class="text-justify">
								Zlatan est un chien très joueur qui tire énormément en laisse ! Son maître souhaite améliorer la vie de son ami à quatre pattes pour que les balades soient plus agréables. Nous allons aussi travailler le rappel avec et sans stimuli afin que Zlatan puisse être libre dès que possible et que son maître soit en parfaite confiance.</p>
							</p>
							<h4>ZLATAN</h4>
							<span>Dogue Argentin - 2 ans</span>
							<img src="{% static 'educpet_app/images/chiens/ZLATAN.png' %}" alt="Zlatan - Image">
						</div>
						<div class="item">
							<p class="text-justify">
								Monoï a été sorti de la SPA à ses 1 an (il n'y est resté que quelques jours). Certainement utilisé et traumatisé pour la chasse, Monoï a une peur bleue des bruits de chasse (coups de feu) et se tétanise dès qu'il en entend. On va travailler sur ces bruits pour lui montrer qu'ils ne sont pas un danger.
							</p>
							<h4>MONOI</h4>
							<span>Parsson Russel - 5 ans</span>
							<img src="{% static 'educpet_app/images/chiens/PARSON.png' %}" alt="Parson - Image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="contact-us" id="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8" style="z-index: 3;">
					<div id="map">					
						<!-- You just need to go to Google Maps for your own map point, and copy the embed code from Share -> Embed a map section -->
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2641.6562332659887!2d2.6582692999999997!3d48.5398194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5fa63644f411b%3A0xaf1e1e19b428c3d1!2s15%20Pass.%20Louis%20Armstrong%2C%2077000%20Melun!5e0!3m2!1sfr!2sfr!4v1653578350785!5m2!1sfr!2sfr" width="100%" height="420px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="border:0; border-radius: 15px; position: relative; z-index: 2;" allowfullscreen=""></iframe>
						<div class="row">
							<div class="col-lg-4">
							</div>
							<div class="col-lg-4">
								<div class="contact-info">
									<div class="icon">
										<i class="fa fa-at"></i>
									</div>
									<h4>Email</h4>
									<span>educpet@gmail.com</span>
								</div>
							</div>
							<div class="col-lg-4">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<form id="contact" action="" method="post"> {% csrf_token %}
						<div class="row">
							<div class="col-lg-12">
								<div class="section-heading">
									<h4>Contactez <em>nous</em></h4>
									<p class="text-justify">Vous avez besoin d'un renseignement ou souhaitez prendre contact pour un premier rendez-vous ?<br><br>
										Vous pouvez me joindre via ce formulaire ou via email directement</p>
								</div>
							</div>
							<div class="col-lg-12">
								<fieldset>
									<input type="name" name="name" id="name" placeholder="Nom complet" autocomplete="on" required>
								</fieldset>
							</div>
							<div class="col-lg-12">
								<fieldset>
									<input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Votre email" required="">
								</fieldset>
							</div>
							<div class="col-lg-12">
								<fieldset>
									<textarea name="message" id="message" placeholder="Votre message"></textarea>
								</fieldset>
							</div>
							<div class="col-lg-12">
								<fieldset>
									<button type="submit" id="form-submit" class="main-gradient-button">Envoyer</button>
								</fieldset>
							</div>
						</div>
					</form>
				</div>
				<div class="col-lg-12">
					<ul class="social-icons">
						<li><a href="https://www.facebook.com/EducPet"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.instagram.com/educpet77/"><i class="fa fa-instagram"></i></a></li>
				</div>
				<div class="col-lg-12">
					<p class="copyright">Copyright © 2022 Educ'Pet, Tout droits reservés.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Scripts -->
	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'educpet_app/js/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'educpet_app/js/bootstrap/bootstrap.min.js' %}"></script>
	<script src="{% static 'educpet_app/js/template/isotope.min.js' %}"></script>
	<script src="{% static 'educpet_app/js/template/owl-carousel.js' %}"></script>
	<script src="{% static 'educpet_app/js/template/lightbox.js' %}"></script>
	<script src="{% static 'educpet_app/js/template/tabs.js' %}"></script>
	<script src="{% static 'educpet_app/js/template/video.js' %}"></script>
	<script src="{% static 'educpet_app/js/template/slick-slider.js' %}"></script>
	<script src="{% static 'educpet_app/js/template/custom.js' %}"></script>
	<script src="{% static 'educpet_app/js/template/swal.min.js' %}"></script>
	<script>
		$('.nav li:first').addClass('active');

		var showSection = function showSection(section, isAnimate) {
			var
			direction = section.replace(/#/, ''),
			reqSection = $('.section').filter('[data-section="' + direction + '"]'),
			reqSectionPos = reqSection.offset().top - 0;

			if (isAnimate) {
				$('body, html').animate({
					scrollTop: reqSectionPos },
				800);
			} else {
				$('body, html').scrollTop(reqSectionPos);
			}

		};

		var checkSection = function checkSection() {
			$('.section').each(function () {
				var
				$this = $(this),
				topEdge = $this.offset().top - 80,
				bottomEdge = topEdge + $this.height(),
				wScroll = $(window).scrollTop();
				if (topEdge < wScroll && bottomEdge > wScroll) {
					var
					currentId = $this.data('section'),
					reqLink = $('a').filter('[href*=\\#' + currentId + ']');
					reqLink.closest('li').addClass('active').
					siblings().removeClass('active');
				}
			});
		};

		$('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
			e.preventDefault();
			showSection($(this).attr('href'), true);
		});

		$(window).scroll(function () {
			checkSection();
		});

		function swalInfos(title, text, type){
			Swal.fire({
				title: title,
				text: text,
				type: type,
				icon: type,
				showConfirmButton:false,
				timer: 750                
			})
		} 
		
		$("#contact").submit(function(e) {
			e.preventDefault();
			var form = $('#contact').serialize();
			$.ajax({
				url : '/send_information_email/',
				method : 'POST',
				headers: { "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val() },
				data : form,
				beforeSend: function(){
					$('#form-submit').prop('disabled', true);
				},
				success : function(json){
					swalInfos('Succés', 'Votre email a bien été envoyé','success');
					$('#contact').trigger("reset");
					$('#form-submit').prop('disabled', false);			
				},
				error : function (err){
					swalInfos('Échec', "Votre email n'a pas été envoyé",'error');
				}
			})
		});
			
	</script>
</body>

</html>